TWITCH_CHANNEL_USERNAME=
TWITCH_CHANNEL_ID=

TWITCH_BOT_USERNAME=
TWITCH_BOT_ID=

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=http://localhost:3000/auth/twitch/callback

DISCORD_TOKEN=
DISCORD_CHALLENGE_CHANNEL_ID=
DISCORD_TIP_CHANNEL_ID=
DISCORD_UNFOLLOWS_CHANNEL_ID=

DATABASE_CONN=
REDIS_FLY_CONNECT=
REDIS_FLY_CONNECTD=

SESSION_SECRET=
TOKEN_ENCRYPTION_KEY=
