TWITCH_BOT_USERNAME=
TWITCH_BOT_ID=

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=

DISCORD_TOKEN=
DISCORD_CHALLENGE_CHANNEL_ID=
DISCORD_TIP_CHANNEL_ID=
DISCORD_UNFOLLOWS_CHANNEL_ID=

TOKEN_ENCRYPTION_KEY=
SESSION_SECRET=

DATABASE_CONN=

REDIS_FLY_CONNECT=
REDIS_FLY_CONNECTD=
